* {
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: #e4b95b;
	--secondary-color: rgb(152, 152, 197);
}

/* HEADER */

.header-logo {
	width: 7%;
	border-radius: 50%;
	background-color: black;
}

.nav-link {
	font-weight: 500;
	font-size: 1.1rem;
}

.nav-link.active:hover, .nav-link:hover {
	color: var(--primary-color);
}

/* ABOUT SECTION */

.about-section {
	background-image: url('offer-background.jpg');
	padding: 5vh 2vw;
	color: aliceblue;
}

.chef-icon {
	width: 10%;
	backdrop-filter: blur(5px);
}
