* {
	padding: 0;
	margin: 0;
}

:root {
    --primary-color: rgb(255, 220, 0);
    --secondary-color: gray;
}

.header-logo {
	width: 7%;
	border-radius: 50%;
	background-color: black;
	box-shadow: 0 0 30px 5px var(--primary-color);
}

.nav-link {
	font-weight: 500;
    font-size: 1.1rem;
}

.navbar {
	box-shadow: 3px 3px 10px rgb(152, 152, 197);
}

.nav-link:hover {
    color: var(--primary-color);
}