* {
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: rgb(228, 185, 91);
	--light-color: rgb(244, 244, 244);
	--secondary-color: rgb(56, 56, 72);
}

body {
	font-family: 'Quicksand', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.15px;
}

a {
	text-decoration: none;
}

/* HEADER */

header {
	background-color: var(--light-color);
}

.header-logo {
	width: 7%;
	border-radius: 50%;
	background-color: black;
}

.nav-link {
	font-weight: 500;
	font-size: 1.2rem;
}

.nav-link.active:hover,
.nav-link:hover {
	color: var(--primary-color);
}

/* ABOUT SECTION */

.about-section {
	background: url('offer-background.jpg') no-repeat;
	padding: 5vh 2vw;
	color: aliceblue;
}

.about-section-title {
	color: var(--primary-color);
	text-align: center;
	padding: 7vh 0 5vh;
}

/* MENU SECTION */

.menu-section {
	background-color: var(--light-color);
}

.menu-section-title {
	color: var(--secondary-color);
	text-align: center;
	padding: 7vh 0 5vh;
}

.menu-item {
	display: flex;
	align-items: center;
	margin: 5vh;
}

.food-icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.food-content {
	padding-left: 10px;
}

.food-title {
	font-weight: 600;
}

.food-price {
	color: var(--primary-color);
}
